.container
{
	margin-top:0%;
	z-index: 0;
}
.form-text
{
	font-size: medium;
}
.border
{

	/* border: rgb(19, 19, 241) solid !important; */
	background-color: rgb(248, 248, 248);
	margin:20px;
	padding:20px;
}
.box-shadow
{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
button.btn.btn-primary {
	display: block;
	margin-top:5%;
	background-color: rgb(3, 36, 80) !important;
	color:white !important;
	border:thin white !important;
}
button.btn.btn-primary:hover{

	color: rgb(231, 233, 236) !important;
	background-color: rgb(6, 53, 116) !important;

}
.btn-warning
{
	background-color: rgb(3, 52, 68) !important;
	color:white !important;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
	border:thin white !important;
}
.btn-warning:hover
{
	background-color: rgb(5, 82, 107) !important;
	color:white !important;
}
.img1
{
	width:100% !important;
	height:100% !important
}
