<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#head{
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  color:black;
}
.App-header {
  background-image: url('final3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #282c34;
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: //calc(10px + 2vmin);
  color: #68848e;
  font-size: 18px;
}

#top{
  height:50px;
}


#last{
  height:50px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
